<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistent.dao.IStrategyAwardDAO">

    <resultMap id="CaseMap" type="org.example.infrastructure.persistent.po.StrategyAward">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="award_id" property="awardId"/>
        <result column="award_rate" property="awardRate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="queryStrategyAwardList" resultMap="CaseMap">
        SELECT id, strategy_id, award_id, create_time, update_time
        FROM strategy_award
        LIMIT 10
    </select>

    <select id="queryStrategyAwardListById" resultMap="CaseMap">
        SELECT id, strategy_id, award_id, award_rate, create_time, update_time
        FROM strategy_award
        WHERE strategy_id = #{strategyId}
    </select>

    <select id="queryStrategyAwardRuleModels" parameterType="org.example.infrastructure.persistent.po.StrategyAward" resultType="java.lang.String">
        select rule_model from strategy_award
        where strategy_id = #{strategyId} and award_id = #{awardId}
    </select>

    <update id="decrAwardCount" parameterType="org.example.infrastructure.persistent.po.StrategyAward">
        update strategy_award
        set award_count_surplus = award_count_surplus - #{decrAmount}
        where strategy_id = #{strategyId} and award_id = #{awardId} and award_count_surplus > 0
    </update>
</mapper>
